/* Whole Website */
body{
font-family: Arial, sans-serif;
text-align: center;
background-color: #9ec1cf;
margin: 0;
padding: 0;
}

/* Navigation Menu */
nav{
background-color: #333;
padding: 10px;
}

nav a{
color: white;
text-decoration: none;
margin: 10px;
font-size: 18px;
}

/* Main Heading */
h1{
  h1{
color: darkblue;
animation: glow 2s infinite alternate;
}

@keyframes glow{
from{
color: darkblue;
}
to{
color: red;
}
}
color: darkblue;
margin-top: 20px;
}

/* Sub Heading */
h2{
color: black;
}

/* Image Style */
img{
width: 200px;
border-radius: 10px;
margin: 15px;
}

/* Button Style */
button{
background-color: blue;
color: white;
padding: 10px 20px;
border: none;
border-radius: 6px;
font-size: 16px;
cursor: pointer;
}
button:hover{
background-color: darkblue;
}
/* Footer */
footer{
background-color: #333;
color: white;
padding: 10px;
margin-top: 20px;
}
